# Advent of Code Day 1

## The Problem
Something is wrong with global snow production, and you've been selected to take a look. The Elves have even given you a map; on it, they've used stars to mark the top fifty locations that are likely to be having problems.

You've been doing this long enough to know that to restore snow operations, you need to check all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You try to ask why they can't just use a weather machine ("not powerful enough") and where they're even sending you ("the sky") and why your map looks mostly blank ("you sure ask a lot of questions") and hang on did you just say the sky ("of course, where do you think snow comes from") when you realize that the Elves are already loading you into a trebuchet ("please hold still, we need to strap you in").

As they're making the final adjustments, they discover that their calibration document (your puzzle input) has been amended by a very young Elf who was apparently just excited to show off her art skills. Consequently, the Elves are having trouble reading the values on the document.

The newly-improved calibration document consists of lines of text; each line originally contained a specific calibration value that the Elves now need to recover. On each line, the calibration value can be found by combining the first digit and the last digit (in that order) to form a single two-digit number.

For example:
```
1abc2
pqr3stu8vwx
a1b2c3d4e5f
treb7uchet
```
In this example, the calibration values of these four lines are 12, 38, 15, and 77. Adding these together produces 142.

Consider your entire calibration document. What is the sum of all of the calibration values?

## The Solution

First, let's start by testing on the initial small dataset described here.

## Test with the smaller dataset

In [36]:
data = ["1abc2",
        "pqr3stu8vwx",
        "a1b2c3d4e5f",
        "treb7uchet",
        # Add an extra validation for strings with no numbers
        "abc"]

In [37]:
extract_add_integers(data[0])

12

In [38]:
def extract_add_integers(string):
    """
    Extract the integers from the string
    """
    integers_as_text = list(''.join([i for i in string if i.isdigit()]))

    # If there is only digit, then it is the first and the last
    if len(integers_as_text) == 1:
        integers_as_text+=integers_as_text

    # If there are 
    elif len(integers_as_text) == 0:
        integers_as_text = [0, 0]
    return int(f"{integers_as_text[0]}{integers_as_text[-1]}")

In [39]:
sum([extract_add_integers(value) for value in data])

142

## Apply to the Entire Dataset

In [42]:
import pandas as pd

In [54]:
df = pd.read_table("data/input.txt",
                   header=None)
df

                                      0
0                 fivethreeonezblqnsfk1
1                   two74119onebtqgnine
2                     jrjh5vsrxbhsfour3
3                tn5eightfncnzcdtthree8
4                             kpmrk5flx
..                                  ...
995          ksbsddjcknsevensix293three
996  rljzzbvd3zkmbpjt9eightninesnlrsone
997  97ninesevenrhchvppnztvfbfpkzrbcone
998          sevendxbninefour2fourclmln
999       1rdtwofjvdllht5eightsixfourbl

[1000 rows x 1 columns]

In [53]:
sum([extract_add_integers(value) for value in df[0].values])

56108

---

## Part 2

In [57]:
data[0][0].isdigit()

True

In [59]:
test = "one"

In [60]:
test.replace?

Signature: test.replace(old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      builtin_function_or_method